# All
.vscode/

# TypeScript
node_modules/
dist
.parcel-cache

# OCaml
_build/

# Cpp
cmake-build-debug/

# Java
target/
**/.mvn/wrapper/
mvnw
mvnw.cmd
**/out/production/

# Elm
**/elm-stuff

# Zig
**/zig-cache/
**/zig-out/

# Csharp
**/bin/Debug/
**/bin/Release/
**/obj/
